@model IEnumerable<project_clinic.Models.MedicalRecord>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-4">Medical Records</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-bordered table-hover">
    <thead class="bg-light">
        <tr>
            <th>@Html.DisplayNameFor(model => model.MedicalRecordId)</th>
            <th>@Html.DisplayNameFor(model => model.VisitDescription)</th>
            <th>@Html.DisplayNameFor(model => model.Diagnosis)</th>
            <th>@Html.DisplayNameFor(model => model.AdditionalNotes)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.MedicalRecordId)</td>
                <td>@Html.DisplayFor(modelItem => item.VisitDescription)</td>
                <td>@Html.DisplayFor(modelItem => item.Diagnosis)</td>
                <td>@Html.DisplayFor(modelItem => item.AdditionalNotes)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MedicalRecordId" class="btn btn-sm btn-outline-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.MedicalRecordId" class="btn btn-sm btn-outline-secondary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.MedicalRecordId" class="btn btn-sm btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>